src/pages/section/check-reg.pug
+b.SECTION.register
    .container
        +e.H1.title Зарегистрировать чек
        +b.FORM.lpc-form(class="validate-form")
            .sub Найдите на чеке с заправки номер RRN и введите его в поле ниже. Не забудьте, что зарегистрировать можно только чеки с заправкой от 25 литров в сети АЗС «Газпромнефть» с оплатой картой VISA
            .input-container
                .input-wrapper.mr.check-num.example.js-rrn
                    //- Введите RRN-номер чека
                    input.lpc-input(type="text" name="pass" placeholder="" value="" required)
                    .delete.hide
                        img.minus(src="/img/form/minus.png")
                    label
                        span RRN-номер чека
                    .line-v
                    +e.numCheck.js-vis
                        +e.SPAN.numCheckText Где найти номер чека?
                        +e.popupCheck
                            img.popupExit(src="img/ico/exit-white.svg", alt="")
                            img.checkImg(src="img/home/check__mob.png", alt="")
                            +e.popupWarn
                                img(src="img/ico/exit-red.svg", alt="")
                                span Не под строчкой «Бонусная карта»
            +b.add
                +e.img
                +e.text Добавить еще один чек
            //- +e.numCheck
            //-     +e.SPAN.numCheckText Где найти номер чека?
            //-     +e.popupCheck
            //-         img.popupExit(src="img/ico/exit-white.svg", alt="")
            //-         img.checkImg(src="img/home/check__mob.png", alt="")
            //-         +e.popupWarn
            //-             img(src="img/ico/exit-red.svg", alt="")
            //-             span Не под строчкой «Бонусная карта»
            +b.lpc-policy
                    +e.LABEL.row
                        .chekbox
                            +e.INPUT.input.checkbox.lpc-checkbox(type="checkbox" name="termsofaction")
                            span.checkmark
                        +e.text
                            | Я соглашаюсь с
                            |
                            a(href="docs/pers-data.pdf" target="_blank") полными условиями акции

                    +e.LABEL.row
                        .chekbox
                            +e.INPUT.input.checkbox.lpc-checkbox(type="checkbox" name="personalAgreement")
                            span.checkmark
                        +e.text
                            | Я подтверждаю, что мне исполнилось 18 лет на момент участия в акции
                            |


            BUTTON.btn Зарегистрироваться
        

build/check-reg.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="height-helper">
    <section class="menu">
      <div class="menu__vertical">
        <div class="menu__burger">Меню
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="menu__full">
        <div class="container">
          <ul class="menu__nav">
            <li class="menu__navitem menu__navitem_b"><a href="/register.html">Зарегистрировать чек</a>
            </li>
            <li class="menu__navitem"><a href="/">Главная</a>
            </li>
            <li class="menu__navitem"><a href="/prizes.html">Призы</a>
            </li>
            <li class="menu__navitem"><a href="/winners.html">Победители</a>
            </li>
            <li class="menu__navitem"><a href="/rules.html">Правила</a>
            </li>
            <li class="menu__navitem"><a href="/faq.html">FAQ</a>
            </li>
            <li class="menu__navitem"><a href="/contact-form.html">Обратная связь</a>
            </li>
            <li class="menu__navitem menu__navitem_sm"><a href="/login.html">Войти в личный кабинет</a><i class="fas fa-angle-right"></i>
            </li>
          </ul>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__left">
              <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
              </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
              <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
              </div>
            </div>
            <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/home/gazprom-white.svg"></a>
              <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
            </div>
          </div>
        </footer>
      </div>
    </section>
    <div class="content">
      <div class="content-helper">
        <header class="header">
          <div class="container">
            <div class="header__logos header__logos_t"><img src="/img/home/logos.png">
            </div>
          </div>
        </header>
        <section class="register">
          <div class="container">
            <h1 class="register__title">Зарегистрировать чек
            </h1>
            <form class="lpc-form validate-form">
              <div class="sub">Найдите на чеке с заправки номер RRN и введите его в поле ниже. Не забудьте, что зарегистрировать можно только чеки с заправкой от 25 литров в сети АЗС «Газпромнефть» с оплатой картой VISA</div>
              <div class="input-container">
                <div class="input-wrapper mr check-num example js-rrn">
                  <input class="lpc-input" type="text" name="pass" placeholder="" value="" required>
                  <div class="delete hide"><img class="minus" src="/img/form/minus.png"></div>
                  <label><span>RRN-номер чека</span></label>
                  <div class="line-v"></div>
                  <div class="lpc-form__numCheck js-vis"><span class="lpc-form__numCheckText">Где найти номер чека?</span>
                    <div class="lpc-form__popupCheck"><img class="popupExit" src="img/ico/exit-white.svg" alt=""><img class="checkImg" src="img/home/check__mob.png" alt="">
                      <div class="lpc-form__popupWarn"><img src="img/ico/exit-red.svg" alt=""><span>Не под строчкой «Бонусная карта»</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="add">
                <div class="add__img">
                </div>
                <div class="add__text">Добавить еще один чек
                </div>
              </div>
              <div class="lpc-policy">
                <label class="lpc-policy__row">
                  <div class="chekbox"><input class="lpc-policy__input checkbox lpc-checkbox" type="checkbox" name="termsofaction"/><span class="checkmark"></span>
                  </div><span class="lpc-policy__text">
                  Я соглашаюсь с
                  <a href="docs/pers-data.pdf" target="_blank">полными условиями акции</a></span>
                </label>
                <label class="lpc-policy__row">
                  <div class="chekbox"><input class="lpc-policy__input checkbox lpc-checkbox" type="checkbox" name="personalAgreement"/><span class="checkmark"></span>
                  </div><span class="lpc-policy__text">
                  Я подтверждаю, что мне исполнилось 18 лет на момент участия в акции
                  </span>
                </label>
              </div>
              <BUTTON class="btn">Зарегистрироваться</BUTTON>
            </form>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__left">
            <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
            </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
            <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
            </div>
          </div>
          <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/gazprom.svg"></a>
            <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script>
