src/pages/section/contact-form.pug
+b.SECTION.contact-form
    .container
        .row
            +e.H1.title Обратная связь
            A.rule <nobr>Полные правила акции</nobr> 
        +e.sub.sub Если у вас возникли вопросы или предложения, напишите нам. Мы обязательно ответим!
        +b.FORM.lpc-form(class="validate-form")
            .input-wrapper
                //- Введите Name
                input.lpc-input(type="text" name="name" placeholder="" value!="" id="lpc-name" required)
                label
                    span Имя
                .line-v
            .input-wrapper
                //- Введите email
                input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
                label
                    span Email
                .line-v
            +e.SELECT.select(name="theme")
                option(value="def") Выберите тему
                option(value="test") Test
                option(value="test2") Test2
            .input-wrapper.w100.textarea
                //- Введите Текст
                textarea.lpc-input(type="text" rows="5" name="message" placeholder="" value="" id="lpc-message" required)
                label
                    span Текст
                .line-v


            BUTTON.btn Отправить
        

build/contact-form.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="height-helper">
    <section class="menu">
      <div class="menu__vertical">
        <div class="menu__burger">Меню
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="menu__full">
        <div class="container">
          <ul class="menu__nav">
            <li class="menu__navitem menu__navitem_b"><a href="/register.html">Зарегистрировать чек</a>
            </li>
            <li class="menu__navitem"><a href="/">Главная</a>
            </li>
            <li class="menu__navitem"><a href="/prizes.html">Призы</a>
            </li>
            <li class="menu__navitem"><a href="/winners.html">Победители</a>
            </li>
            <li class="menu__navitem"><a href="/rules.html">Правила</a>
            </li>
            <li class="menu__navitem"><a href="/faq.html">FAQ</a>
            </li>
            <li class="menu__navitem"><a href="/contact-form.html">Обратная связь</a>
            </li>
            <li class="menu__navitem menu__navitem_sm"><a href="/login.html">Войти в личный кабинет</a><i class="fas fa-angle-right"></i>
            </li>
          </ul>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__left">
              <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
              </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
              <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
              </div>
            </div>
            <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/home/gazprom-white.svg"></a>
              <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
            </div>
          </div>
        </footer>
      </div>
    </section>
    <div class="content">
      <div class="content-helper">
        <header class="header">
          <div class="container">
            <div class="header__logos header__logos_t"><img src="/img/home/logos.png">
            </div>
          </div>
        </header>
        <section class="contact-form">
          <div class="container">
            <div class="row">
              <h1 class="contact-form__title">Обратная связь
              </h1>
              <A class="rule"><nobr>Полные правила акции</nobr> </A>
            </div>
            <div class="contact-form__sub sub">Если у вас возникли вопросы или предложения, напишите нам. Мы обязательно ответим!
            </div>
            <form class="lpc-form validate-form">
              <div class="input-wrapper">
                <input class="lpc-input" type="text" name="name" placeholder="" value="" id="lpc-name" required>
                <label><span>Имя</span></label>
                <div class="line-v"></div>
              </div>
              <div class="input-wrapper">
                <input class="lpc-input" type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required>
                <label><span>Email</span></label>
                <div class="line-v"></div>
              </div>
              <select class="lpc-form__select" name="theme">
                <option value="def">Выберите тему</option>
                <option value="test">Test</option>
                <option value="test2">Test2</option>
              </select>
              <div class="input-wrapper w100 textarea">
                <textarea class="lpc-input" type="text" rows="5" name="message" placeholder="" value="" id="lpc-message" required></textarea>
                <label><span>Текст</span></label>
                <div class="line-v"></div>
              </div>
              <BUTTON class="btn">Отправить</BUTTON>
            </form>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__left">
            <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
            </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
            <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
            </div>
          </div>
          <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/gazprom.svg"></a>
            <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script>
