build/login.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="height-helper">
    <section class="menu">
      <div class="menu__vertical">
        <div class="menu__burger">Меню
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="menu__full">
        <div class="container">
          <ul class="menu__nav">
            <li class="menu__navitem menu__navitem_b"><a href="/register.html">Зарегистрировать чек</a>
            </li>
            <li class="menu__navitem"><a href="/">Главная</a>
            </li>
            <li class="menu__navitem"><a href="/prizes.html">Призы</a>
            </li>
            <li class="menu__navitem"><a href="/winners.html">Победители</a>
            </li>
            <li class="menu__navitem"><a href="/rules.html">Правила</a>
            </li>
            <li class="menu__navitem"><a href="/faq.html">FAQ</a>
            </li>
            <li class="menu__navitem"><a href="/contact-form.html">Обратная связь</a>
            </li>
            <li class="menu__navitem menu__navitem_sm"><a href="/login.html">Войти в личный кабинет</a><i class="fas fa-angle-right"></i>
            </li>
          </ul>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__left">
              <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
              </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
              <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
              </div>
            </div>
            <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/home/gazprom-white.svg"></a>
              <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
            </div>
          </div>
        </footer>
      </div>
    </section>
    <div class="content">
      <div class="content-helper">
        <header class="header">
          <div class="container">
            <div class="header__logos header__logos_t"><img src="/img/home/logos.png">
            </div>
          </div>
        </header>
        <section class="login">
          <div class="container">
            <h1 class="login__title">Вход
            </h1>
            <div class="login__sub sub">Используйте email и пароль, которые вы указали при регистрации, чтобы войти на сайт.
            </div>
            <form class="lpc-form validate-form">
              <div class="input-wrapper mr">
                <div class="input-style">
                  <input class="lpc-input" type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required>
                  <label><span>Email</span></label>
                  <div class="line-v"></div>
                </div>
              </div>
              <div class="input-wrapper mr error">
                <div class="input-style">
                  <input class="lpc-input" type="password" name="pass" placeholder="" value="" id="lpc-pass" required>
                  <div class="eay"><img class="show" src="/img/form/eay-show.png"><img class="hide" src="/img/form/eay-hide.png"></div>
                  <label><span>Пароль</span></label>
                  <div class="line-v"></div>
                </div>
                <div class="error__text">Пароль не подходит, попробуйте еще раз</div>
              </div>
              <BUTTON class="btn">Войти</BUTTON>
            </form>
            <div class="login__links">
              <A class="link" href="#">Забыли пароль?</A>
              <A class="link" href="/register.html">Зарегистрироваться</A>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__left">
            <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
            </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
            <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
            </div>
          </div>
          <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/gazprom.svg"></a>
            <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script>

src/pages/section/login.pug
+b.SECTION.login
    .container
        +e.H1.title Вход
        +e.sub.sub Используйте email и пароль, которые вы указали при регистрации, чтобы войти на сайт.
        +b.FORM.lpc-form(class="validate-form")
            .input-wrapper.mr
                //- Введите email
                .input-style
                    input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
                    label
                        span Email
                    .line-v
            .input-wrapper.mr.error
                //- Введите пароль
                .input-style
                    input.lpc-input(type="password" name="pass" placeholder="" value="" id="lpc-pass" required)
                    .eay
                        img.show(src="/img/form/eay-show.png")
                        img.hide(src="/img/form/eay-hide.png")
                    label
                        span Пароль
                    .line-v
                .error__text Пароль не подходит, попробуйте еще раз
        
            BUTTON.btn Войти
        +e.links
            A.link(href="#") Забыли пароль?
            A.link(href="/register.html") Зарегистрироваться
        
