build/profile.html

<!-- VARIABLES--><!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>VISA - Газпромнефть FIFA 2018</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#299CC4">
  <meta name="apple-mobile-web-app-title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
  <div class="height-helper">
    <section class="menu">
      <div class="menu__vertical">
        <div class="menu__burger">Меню
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="menu__full">
        <div class="container">
          <ul class="menu__nav">
            <li class="menu__navitem menu__navitem_b"><a href="/register.html">Зарегистрировать чек</a>
            </li>
            <li class="menu__navitem"><a href="/">Главная</a>
            </li>
            <li class="menu__navitem"><a href="/prizes.html">Призы</a>
            </li>
            <li class="menu__navitem"><a href="/winners.html">Победители</a>
            </li>
            <li class="menu__navitem"><a href="/rules.html">Правила</a>
            </li>
            <li class="menu__navitem"><a href="/faq.html">FAQ</a>
            </li>
            <li class="menu__navitem"><a href="/contact-form.html">Обратная связь</a>
            </li>
            <li class="menu__navitem menu__navitem_sm"><a href="/login.html">Войти в личный кабинет</a><i class="fas fa-angle-right"></i>
            </li>
          </ul>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="footer__left">
              <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
              </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
              <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
              </div>
            </div>
            <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/home/gazprom-white.svg"></a>
              <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
            </div>
          </div>
        </footer>
      </div>
    </section>
    <div class="content">
      <div class="content-helper">
        <header class="header">
          <div class="container">
            <div class="header__logos header__logos_t"><img src="/img/home/logos.png">
            </div>
          </div>
        </header>
        <section class="profile">
          <div class="container">
            <div class="row">
              <h1 class="profile__title">Личный кабинет
              </h1>
              <A class="rule"><nobr>Полные правила акции</nobr> </A>
            </div>
            <div class="profile__info">
              <div class="profile__yourInfo">
                <div class="profile__yourName">Алина Зверева
                </div>
                <div class="profile__contInfo">
                  <div class="profile__contItm"><span class="profile__contInfoForm">Email</span><span class="profile__contInfoData">zvereva@mail.com</span>
                  </div>
                  <div class="profile__contItm"><span class="profile__contInfoForm">Телефон</span><span class="profile__contInfoData">+7 909 582 4263</span>
                  </div>
                  <div class="profile__contItm"><a class="profile__link" href="#">Изменить данные</a><a class="profile__link profile__link_arr" href="#">Выйти</a>
                  </div>
                </div>
                <A class="btn btn-profile" href="check-reg.html">зарегистрировать чек</A>
              </div>
              <div class="profile__regChecks">
                <div class="profile__regTitle">Зарегистрированные чеки
                </div>
                <table class="profile__regCheckTab">
                  <thead>
                    <tr>
                      <th>Номер чека
                      </th>
                      <th>Статус
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img class="profile__img" src="img/profile/page.svg" alt="" role="presentation"/>
                        <div class="profile__checkInfo">
                          <div class="profile__checkNum">7298 2935 2852
                          </div>
                          <div class="profile__checkDate">13 марта 2018
                          </div>
                        </div>
                      </td>
                      <td><span class="profile__tdText">Проверяется</span><img class="profile__img tdIcon" src="img/profile/testing.svg" alt="" role="presentation"/>
                      </td>
                    </tr>
                    <tr class="profile__numCheckDes">
                      <td><img class="profile__img" src="img/profile/page.svg" alt="" role="presentation"/>
                        <div class="profile__checkInfo">
                          <div class="profile__checkNum">7298 2935 2852
                          </div>
                          <div class="profile__checkDate">13 марта 2018
                          </div>
                        </div>
                      </td>
                      <td><span class="profile__tdText">Отклонен</span><img class="profile__img tdIcon" src="img/profile/rejected.svg" alt="" role="presentation"/>
                      </td>
                    </tr>
                    <tr>
                      <td><img class="profile__img" src="img/profile/page.svg" alt="" role="presentation"/>
                        <div class="profile__checkInfo">
                          <div class="profile__checkNum">7298 2935 2852
                          </div>
                          <div class="profile__checkDate">13 марта 2018
                          </div>
                        </div>
                      </td>
                      <td><span class="profile__tdText">Зарегистрирован</span><img class="profile__img tdIcon" src="img/profile/reg.svg" alt="" role="presentation"/>
                      </td>
                    </tr>
                    <tr>
                      <td><img class="profile__img" src="img/profile/page.svg" alt="" role="presentation"/>
                        <div class="profile__checkInfo">
                          <div class="profile__checkNum">7298 2935 2852
                          </div>
                          <div class="profile__checkDate">13 марта 2018
                          </div>
                        </div>
                      </td>
                      <td><span class="profile__tdText">Зарегистрирован</span><img class="profile__img tdIcon" src="img/profile/reg.svg" alt="" role="presentation"/>
                      </td>
                    </tr>
                    <tr>
                      <td><img class="profile__img" src="img/profile/page.svg" alt="" role="presentation"/>
                        <div class="profile__checkInfo">
                          <div class="profile__checkNum">7298 2935 2852
                          </div>
                          <div class="profile__checkDate">13 марта 2018
                          </div>
                        </div>
                      </td>
                      <td><span class="profile__tdText">Зарегистрирован</span><img class="profile__img tdIcon" src="img/profile/reg.svg" alt="" role="presentation"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="profile__servSupport">
              <div class="profile__supptext">Если у вас возникнут вопросы, задайте их службе поддержки:
              </div><span class="profile__tel"> 
              <nobr>8 800 700 51 51</nobr></span>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__left">
            <div class="footer__contact">Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
            </div><span class="footer__tel"><nobr>8 800 700 51 51</nobr></span>
            <div class="footer__desc">Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
            </div>
          </div>
          <div class="footer__right"><a class="footer__logo" href="http://www.gpnbonus.ru/" target="_blank"><img src="img/gazprom.svg"></a>
            <div class="social"><a class="fab fa-facebook-f" href="https://www.facebook.com/gpnbonus "></a><a class="fab fa-vk" href="https://vk.com/gpnbonus"></a><a class="fab fa-instagram" href="https://instagram.com/gpnbonus/"></a><a class="fab fa-telegram-plane" href="https://telegram.me/gpnbonus_bot"></a><a class="fab fa-viber" href="https://viber.com/gpnbonus"></a></div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.1/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script>

src/pages/section/profile.pug
+b.SECTION.profile
    .container
        .row
            +e.H1.title Личный кабинет
            A.rule <nobr>Полные правила акции</nobr> 
        +e.info
            +e.yourInfo
                +e.yourName Алина Зверева
                +e.contInfo
                    +e.contItm
                        +e.SPAN.contInfoForm Email
                        +e.SPAN.contInfoData zvereva@mail.com
                    +e.contItm
                        +e.SPAN.contInfoForm Телефон
                        +e.SPAN.contInfoData +7 909 582 4263
                    +e.contItm
                        +e.A.link(href="#") Изменить данные
                        +e.A.link_arr(href="#") Выйти
                A.btn.btn-profile(href="check-reg.html") зарегистрировать чек
            +e.regChecks
                +e.regTitle Зарегистрированные чеки
                +e.TABLE.regCheckTab
                    +e.THEAD
                        +e.TR
                            +e.TH Номер чека
                            +e.TH Статус
                    +e.TBODY
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Проверяется
                                +e.img.tdIcon(src="img/profile/testing.svg", alt="")
                        +e.TR.numCheckDes
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Отклонен
                                +e.img.tdIcon(src="img/profile/rejected.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
        +e.servSupport
            +e.supptext Если у вас возникнут вопросы, задайте их службе поддержки:
            +e.SPAN.tel 
                nobr 8 800 700 51 51
            
